services:
  web:
    build:
      context: .
      args:
        - NEXT_PUBLIC_TURNSTILE_SITE_KEY=${NEXT_PUBLIC_TURNSTILE_SITE_KEY}
    ports:
      - "3010:3000"
    environment:
      - NODE_ENV=production
